<?xml version="1.0"?>
<!--
/**
 * Copyright ©  All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="genaker_blockbot_show_blocked_ips" xsi:type="object">Genaker\BlockPaymentBot\Console\Command\ShowBlockedIPs</item>
            </argument>
        </arguments>
    </type>
    <type name="Genaker\BlockPaymentBot\Console\Command\ShowBlockedIPs">
        <arguments>
            <argument name="scopeConfig" xsi:type="object">Magento\Framework\App\Config\ScopeConfigInterface</argument>
        </arguments>
    </type>
</config>

