<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Genaker_BlockPaymentBot::blocked_ips"
             title="Blocked IP Addresses"
             sortOrder="100"
             module="Genaker_BlockPaymentBot"
             action="genaker_blockpaymentbot/blockedips/index"
             parent="Magento_Backend::system"
             resource="Genaker_BlockPaymentBot::blocked_ips"/>
    </menu>
</config>
