<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="bootstrap-hybrid.php"
         colors="true"
         failOnWarning="true"
         failOnRisky="false"
         failOnEmptyTestSuite="true"
         beStrictAboutOutputDuringTests="false"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerDeprecations="true">
    <testsuites>
        <testsuite name="BlockPaymentBot Tests">
            <directory suffix=".test.php">.</directory>
            <directory suffix="Test.php">.</directory>
        </testsuite>
    </testsuites>
</phpunit>

